


#identite{
	padding : 0;
	height : 15%;
	margin-bottom : 5px;
	border: 1px dashed blue;
}

#identite h1{
	
    font-family: sans-serif;
    	
	text-align: center;
}

#navigation{
	    float: left;
        padding: 0;
        height: 70%;
        width: 20%;
        border: 1px dashed blue;
}


#contenu{
    
        margin-left: 25%;
        padding: 0;
        height: 70%;
        border: 1px dashed blue;
}

#nav {
	margin :20px;
	list-style:none;
	padding : 0;
	height : 700px;
	width : 250px;
	
}

#nav li{
	
	margin : 5px;
	border: 1px dashed black;
	
}

#nav li a{
	
	backgroud:#000;
	color : blue; 
	text-decoration : none;
	text-transform :capitalize; 
	display: block;
}


#contenu photo{
	
	padding : 0;
	height :auto;
	width :auto;
}

#photo img{
	padding : 0;
    height : 100%;
	width :  100%;
	
}


 h1
        {
            font-size: 2em;
            padding: 0 5 0 5;
            margin: 0 0 0 0;
        }

	

#nav {
      margin : 100px;
      list-style:none;
}


#nav li ul {
	width:160px;
	background:#000;
	list-style:none;
}
#nav li ul li {
	float:none;
	display:block;
}
#nav li ul li a {
	text-indent:0;
	color:#fff;
	text-decoration:none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	padding:6px 0 6px 20px;
	height:0;
}
#nav li dl {
	width:160px;
	background:#333;
	display:none;
	position:absolute;
	top:34px;
	left:0;
}
#nav li dl dd a {
	text-indent:0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#ccc;
	text-decoration:none;
	line-height:34px;
	text-indent:20px;
	
}
#nav li:hover dl{
	display:block;
}
        
	
.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  background: #000;
  color: #fff;
  width: 200px;
  font: 1.2em "Trebuchet MS", sans-serif;
}
.nav a, .nav span {
  display: block;
  padding: 4px 10px;
  color: #fff;
  text-decoration: none;
  background: #000 url(menu-item.png) left bottom no-repeat;
}
.nav .toggleSubMenu a, .nav .toggleSubMenu span {
  background-image: url(menu-item-deroule.png);
}
.nav .open a, .nav .open span {
  background-image: url(menu-item-enroule.png);
}
.nav a:hover, .nav a:focus, .nav a:active {
  text-decoration: underline;
}
.nav .subMenu {
  font-size: .8em;
  background: #ccc url(subMenu.png) 0 0 repeat-x;
  font-size: .9em;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #666;
}

.subMenu2 {
  font-size: .8em;
  background: #046380 url(subMenu.png) 0 0 repeat-x;
  font-size: .9em;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #666;
}
.nav ul.subMenu a {
  background: none;
  padding: 3px 20px;
}

.photos{
	display:none;	
}